html {
    background: #EEEEEE;
   /* background-image: url('../images/cyberpunk-city-large.jpg'); */
}

.testing {
}

body {
    font-family: Trebuchet, Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: #353535;
    line-height: 1.5em;
}

#comPanelUI {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 100px auto 0px;
    border: 2px solid #1a98a1;
    background: #fff;
    z-index: 1;
}

.stdTextCom {
    padding: 20px;
}

.comInterface {
    display: block;
    width: 800px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.buttonCom {
    width: 48%;
    text-align: center;
    padding: 10px 5px;
    background-color: #a3a4a4;
    border: 2px solid #ccc;
}

#probe {
    display: block;
}

#slickQuiz {
    width: 760px;
    background: #fff;
    padding: 20px;
    z-index: 1;
    display: none;
}

#kitsuneWrap {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#monkWrap {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#kitsune {
    position: absolute;
    left:5px;
    bottom: 10px;
    z-index: 2;
    opacity: 0;
    filter:alpha(opacity=0);
}

#monk {
    position: absolute;
    right:5px;
    bottom: 10px;
    z-index: 2;
    opacity: 0;
    filter:alpha(opacity=0);
}

#kistuneCanvas {
    position: relative;
    left:5px;
    bottom: 5px;
    z-index: -1;
}

#monkCanvas {
    position: relative;
    right:5px;
    bottom: 5px;
    z-index: -1;
}

h1,h2,h3,h4,h5,h6 {font-weight: bold;}

h1 {
    font-size: 26px;
    margin: 0 0 20px;
    color: #0C4569;
}
h2 {
    font-size: 22px;
    margin: 15px 0;
}
h3 {
    font-size: 18px;
    margin: 15px 0 10px;
}
h4 {
    font-size: 16px;
    margin: 10px 0;
}
h5 {
    font-size: 14px;
    margin: 10px 0 5px;
}
h6 {
    font-size: 12px;
    margin: 5px 0;
}

strong { font-weight: bold; }
em { font-style: italic; }
ul { list-style-type: circle; }
ol { list-style-type: decimal; }
ol li { list-style-type: decimal; margin-left: 20px; }

.button {
    float: left;
    width: auto;
    padding: 5px 15px;
    color:#ffffff;
    background-color:darkcyan;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	text-decoration: none;
    margin-left: 20px;
    z-index: 3;
}
.button:hover {
    background-color:darkslategray;
    cursor: pointer;
}

.startQuiz {
    margin-top: 40px;
}

.tryAgain {
    margin: 20px 0;
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: 14px;
    font-style: italic;
}
.questionCount span {
    font-weight: bold;
}

ol.questions {
    margin-top: 20px;
    margin-left: 0;
}
ol.questions li {
    margin-left: 0;
}

ul.answers {
    margin-left: 20px;
    margin-bottom: 20px;
}

ul.responses li {
    margin: 10px 20px 20px;
}
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
ul.responses li.correct p span {
    color: #6C9F2E;
}ul.responses li.incorrect p span {
    color: #B5121B;
}

.quizResults h3 {
    margin: 0;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
}
.quizResultsCopy {
    clear: both;
    margin-top: 20px;
}

.bubbleKitsune  {
position: relative;
margin-top: 50px;
width: 250px;
height: 100px;
padding: 10px;
background: #eafeff;
border: #629ca4 solid 2px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubbleKitsune:after {
content: "";
position: absolute;
top: 50px;
left: -15px;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #eafeff;
display: block;
width: 0;
z-index: 1;
}

.bubbleKitsune:before {
content: "";
position: absolute;
top: 49px;
left: -18px;
border-style: solid;
border-width: 16px 16px 16px 0;
border-color: transparent #629ca4;
display: block;
width: 0;
z-index: 0;
}

.bubbleMonk {
position: relative;
top: -760px;
left: 0px;
width: 250px;
height: 100px;
padding: 10px;
background: #ffecd7;
border: #daa573 solid 2px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubbleMonk:after {
content: "";
position: absolute;
bottom: -15px;
left: 85px;
border-style: solid;
border-width: 15px 15px 0;
border-color: transparent #ffecd7;
display: block;
width: 0;
z-index: 1;
}

.bubbleMonk:before {
content: "";
position: absolute;
top: 142px;
left: 84px;
border-style: solid;
border-width: 16px 16px 0;
border-color: #daa573 transparent;
display: block;
width: 0;
z-index: 0;
}

#sortWasteWrapper {width: 100%; height:440px; position: relative; bottom: 0px; display: none;}
.wasteItem {position: absolute; margin: 0 10px 10px 0; display: none;}
#scoreValue {color: #1a98a1; font-weight: bold;}
.wasteBin {position: relative; border: 1px solid #FFFFFF;}
#binBlue {position: absolute; bottom: 5px; left:5px;}
#binGreen {position: absolute; bottom: 5px; left:160px;}
#binYellow {position: absolute; bottom: 5px; left:320px;}
#binBrown {position: absolute; bottom: 5px; left:480px;}
#binBlack {position: absolute; bottom: 5px; left:640px;}
.border {border: 1px solid #1a98a1;}
#gameMessage {font-weight: bold; margin-top: 50px;}
.rightWrong {position: absolute; top: 0px; left: 0px; z-index: 2}